body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.red-color {
    color: red;
}

section {
    display: flex;
}

.half-width {
    width: 100%;
    padding-left: 5%;
}

.half-width img {
    width: 70%;
    padding: 10%;
}

.background-color {
    background-color: aqua;
}

.Contact-button {
    text-decoration: none;
    background-image: linear-gradient(white, red);
    padding: 10px 40px;
    color: aliceblue;
    font-weight: 700;
    border-radius: 10px;
}